<template>
  <div>
    <button @click="print('data')" class="btn btn-primary my-5">
      Print Data
    </button>
  </div>
</template>

<script>
export default {
  name: 'button-component',
  methods: {
    print(data) {
      this.$emit('prints', data)
    }
  }
}
</script>
