<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Edit Book</h4>
                </div>
                <div>
                    <p>Preview Edit:</p>
                    <p>Title : <b>{{ catchTitle }}</b></p>
                    <p>Descr : <b>{{ catchDesc }}</b></p>
                </div>
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" v-model="book.title">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" v-model="book.description">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"update-book",
    data(){
        return {
            book:{
                title:"",
                description:"",
                _method:"patch"
            }
        }
    },
    mounted(){
        this.showBook()
    },
    methods:{
        async showBook(){
            await this.axios.get(`/api/book/${this.$route.params.id}`).then(response=>{
                const { title, description } = response.data
                this.book.title = title
                this.book.description = description
            }).catch(error=>{
                console.log(error)
            })
        },
        async update(){
            await this.axios.post(`/api/book/${this.$route.params.id}`,this.book).then(response=>{
                this.$router.push({name:"bookList"})
            }).catch(error=>{
                console.log(error)
            })
        }
    },
    computed:{
        catchTitle()
        {
            return this.book.title
        },
        catchDesc()
        {
            return this.book.description
        }
    },
    watch:{
        "book.title": function()
        {
            alert('You change the title')
        },
        "book.description": function()
        {
            alert('You change the description')
        },
    }
}
</script>