<template>
    <div class="row">
        <div class="col-12 mb-2 text-end">
            <router-link :to='{name:"bookAdd"}' class="btn btn-primary">Create</router-link>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Book</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody v-if="books.length > 0">
                                <tr v-for="(book,key) in books" :key="key">
                                    <td>{{ book.id }}</td>
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.description }}</td>
                                    <td>
                                        <router-link :to='{name:"bookEdit",params:{id:book.id}}' class="btn btn-success">Edit</router-link>
                                        <button type="button" @click="deleteBook(book.id)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="4" align="center">No Categories Found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <print-button
                        @prints="printAll($event)"
                    />

                    <h1>{{ state_test }}</h1>
                    <h1>{{ message }}</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PrintButton from './components/PrintButton.vue'

const store = new Vuex.Store({
    state:{
        message: 'My State',
        count: 0
    },
    mutations:{
        
    },
    actions:{

    },
    getters:{
        message(state){
            return state.message.toUpperCase();
        }
    }
});

export default {
    name:"categories",
    components: {
        PrintButton
    },
    data(){
        return {
            categories:[],
            state_test: 'This is state'
        }
    },
    mounted(){
        this.getCategories()
    },
    methods:{
        printAll() {
            alert('Data is printing')
        },
        async getCategories(){
            await this.axios.get('/api/book').then(response=>{
                this.categories = response.data
            }).catch(error=>{
                console.log(error)
                this.categories = []
            })
        },
        deleteBook(id){
            if(confirm("Are you sure to delete this book ?")){
                this.axios.delete(`/api/book/${id}`).then(response=>{
                    this.getCategories()
                }).catch(error=>{
                    console.log(error)
                })
            }
        }
    },
    computed:{
        message(){
            return store.getters.message
        }
    }
}
</script>